p{
    color: #5c5c5c;
    font-size: 24px;
    margin-bottom: 25px;
    margin-left: 205px;
    letter-spacing: 3px;
}
.congratulation{
    margin-top: 213px;
    color: #ff2f2f;
    font-size: 26px;
    margin-bottom: 38px;
}
.number{
    color: #ff2f2f;
}
.backIndex{
    display: block;
    width: 650px;
    height: 70px;
    border-radius: 20px;
    letter-spacing: 4px;
    color: #ffffff;
    line-height: 70px;
    margin-left: 50px;
    margin-top: 120px;
    text-decoration: none;
    text-align: center;
    background: #ff2f2f;
    font-size: 24px;
}
.btn{
    margin-top: 200px;
}
.backIndexqiut{
    margin-top: 34px;
}
.quitend{
    margin-left: 0px;
    text-align: center;
}
.bottom{
    opacity: 0.1;
}
.share{
    position: absolute;
    top: 200px;
    font-size: 58px;
    margin-left: 180px;
    color: #ff2f2f;
    font-family: 汉仪跳跳体简;
}
.shareImg{
    opacity: 0.3;
    width: 120px;
}